.container {
    padding: 0 2rem;
    background: #f8f8f8;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bookCard {
    border-width: 2px;
    border-style: solid;
    border-radius: 2;
    border-color: "white";
    padding: 2rem;
    width: 400px;
}

.bookInfo {
    display: grid;
    row-gap: 0.5rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 350px;
    max-height: 600px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    grid-column: span 2;
}

.card p {
    margin: 0;
    line-height: 1.2;
    /* Inter / Body Small */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    /* or 20px */

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    /* Gray / 50 */

    color: #787885;

    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: inherit; */
    grid-column: span 2;
}

.cardGenre {
    border: 1px solid #9dc2ff;
    border-radius: 4px;

    width: fit-content;
    min-width: 75px;
    padding: 0.3rem;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;

    text-align: center;
    letter-spacing: 0.018em;

    /* Blue / 70 */

    color: #2264d1;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0rem;
    }
}
